<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC " -//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheng.mywechat.dao.test.TestDaoMapper">
	<select id="getTest" resultType="test">
		SELECT 1 'test_id','test_name' AS 'test_name',now() as 'time'
	</select>

</mapper>